<div class="container">
  <h1>Cursos</h1>
  <div *ngIf="!isAlumno; then profesoresBlock else estudianteBlock"></div>
  <ng-template #profesoresBlock>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let curso of cursos" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{curso.nombre}}
          </mat-panel-title>
          <mat-panel-description>
            Estudiantes: {{curso.total_estudiantes}}
          </mat-panel-description>
          <mat-panel-description>
            Fecha de Creación: {{curso.fecha_creacion}}
            <mat-icon>more_vert</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>- Descripción: {{curso.descripcion}}</p>
        <div>- Contenido Interactivo:</div>
        <mat-list>
          <mat-list-item *ngFor="let content of curso.contenido_interactivo" [routerLink]="['/contenido-interactivo/detalle/' + content.id]">
            <mat-icon mat-list-icon>note</mat-icon>
            <h4  mat-line>{{content.nombre}}</h4>
          </mat-list-item>
        </mat-list>
        <div>- Estudiantes del Curso:</div>
        <mat-list>
          <mat-list-item *ngFor="let student of curso.estudiantes">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <h4 mat-line>{{student.codigo_de_estudiante}} - {{student.nombre_completo}}</h4>
          </mat-list-item>
        </mat-list>
        <div class="actions">
          <button mat-button (click)="loadReport(curso.id)">Reporte</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
  <ng-template #estudianteBlock>
    <mat-accordion>
        <div *ngFor="let curso of myData">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>{{curso.nombre}}</mat-panel-title>
                    <mat-panel-description>Total contenido: {{curso.contenido_interactivo.length}}</mat-panel-description>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item [routerLink]="['/video-alumno/' + contenido.id]" *ngFor="let contenido of curso.contenido_interactivo"><mat-icon>play_arrow</mat-icon>  {{ contenido.nombre }}</a>
                </mat-nav-list>
            </mat-expansion-panel>
        </div>
    </mat-accordion>
  </ng-template>
</div>
