<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="box">
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Buscar Curso" />
        </div>
    </div>
    <div id="contenido-cursos">
        <h2>Cursos</h2>
        <div id="box-cursos">
            <div id="nombre-curso"><p>Nombre Curso</p></div>
            <div id="btn-box"><input type="button" id="btn" value="Ver contenido interactivo"></div>
        </div>
    </div>
</div>