<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper" class="login-register login-sidebar"
  style="background-image:url(../assets/images/background/blue-waves-background.jpg);">
  <div class="login-box card">
    <div class="card-body">
      <div class="login-box card">
        <div class="card-body">
          <form ngNativeValidate #f="ngForm" class="form-horizontal form-material" (ngSubmit)="ingresar( f )">
            <img *ngIf="true" class="logo" src="../assets/images/logo-5-conectate.png" alt="logo" />
            <p *ngIf="false" class="logo principal"><b>Conecta-TE</b></p>
            <div>
              <table class="login-container" cellspacing="0">
                <tr>
                  <td>
                    <mat-form-field class="col-xs-12">
                      <input matInput placeholder="Username" [(ngModel)]="username" name="username" required
                        placeholder="Usuario">
                    </mat-form-field>
                  </td>
                </tr>
                <tr>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Contraseña" [(ngModel)]="password" type="password" name="password"
                        required>
                    </mat-form-field>
                  </td>
                </tr>
              </table>
            </div>
            <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

            <!-- <div class="form-group m-t-40">
          <div class="col-xs-12">
            <input [ngModel]="email" name="email" class="form-control" type="email" required placeholder="Correo del usuario">
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <input ngModel name="password" class="form-control" type="password" required placeholder="Contraseña">
          </div>
        </div> -->


            <!-- <div class="form-group row login-container">
          <div>
            <input [(ngModel)]="recuerdame" name="recuerdame" id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue">
            <span for="checkbox-signup"> Recuérdame </span>
            <a *ngIf="false" href="#/cursos" id="to-recover"> Olvide contraseña?</a>
          </div>
        </div> -->
            <div class="button-container">
              <button mat-raised-button color="primary" type="submit"> Ingresar </button>
              <!-- <button class="btn-izq" mat-raised-button>Registrarme</button> -->
            </div>
            <!-- <div class="button-container">
          <div class="col-sm-12 text-center">
            No tienes cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Crear cuenta</b></a>
          </div>
        </div> -->
          </form>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->