<div *ngIf="hasQuestionsToShow">
    <h1 mat-dialog-title>{{questionInformation.enunciado}}</h1>
    <div mat-dialog-content>
        <div class="row" *ngFor="let optionAnswer of optionsArray, let i=index">
            <div class="col-3">
                <mat-checkbox class="margin-left-25" (change)="checkOptionAnswer($event.checked, optionAnswer.idOption)"
                    [checked]="optionAnswer.answerOption" [disabled]="disabledAnswers"> {{optionAnswer.titleOption}}
                </mat-checkbox>
            </div>
        </div>

        <div *ngIf="disabledAnswers">
            <div>Las respuestas correctas son : </div>
            <div class="row" *ngFor="let option of arrayCorrectAnswers, let i=index">
                <div class="col-3 display-flex green-color">
                    <i class="material-icons"> check_circle_outline</i>{{option.titleAnswer}}
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="!disabledAnswers" mat-dialog-actions>
        <button mat-button (click)="saveAnswer()">Validar respuestas</button>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="continue()">Continuar</button>
    </div>
</div>
<div *ngIf="showRetroAlimentation">
    Aqui lo de retroalimentación
</div>