<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
    <div class="box">
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Buscar Contenido Interactivo" />
        </div>
    </div>
    <div id="contenido-cursos">
        <h2>Nombre Curso</h2>
        <h3>Contenido interactivo</h3>
        <div id="box-cotenido">
            <div class="contenido">
                <p>Contenido interactivo</p>
                <div id="btn-box"><input type="button" class="btn-Editar" value="Editar"></div>
                <div id="btn-box"><input type="button" class="btn-ver" value="Ver reporte"></div>
            </div>
            <div class="contenido">
                <p>Contenido interactivo</p>
                <div id="btn-box"><input type="button" class="btn-Editar" value="Editar"></div>
                <div id="btn-box"><input type="button" class="btn-ver" value="Ver reporte"></div>
            </div>
            <div class="contenido">
                <p>Contenido interactivo</p>
                <div id="btn-box"><input type="button" class="btn-Editar" value="Editar"></div>
                <div id="btn-box"><input type="button" class="btn-ver" value="Ver reporte"></div>
            </div>
        </div>
    </div>
</div>